In [1]:
import pandas as pd
import requests 
import json
import numpy as np

In [72]:
url = f'https://fakerapi.it/api/v1/persons?_locale=pt_BR&_quantity=300'

In [73]:
result = requests.get(url, verify=True).json()

In [85]:
df_pessoas = pd.DataFrame(result['data'])

In [90]:
df_pessoas['gender'].replace(['male'], 'M', inplace=True)
df_pessoas['gender'].replace(['female'], 'F', inplace=True)

In [95]:
df_pessoas.head()

,id,firstname,lastname,email,phone,birthday,gender,address,website,image
0,1,Diego,Cruz,aguiar.maite@ig.com.br,+2597172391531,1986-04-16,M,"{'id': 0, 'street': 'Largo Christopher, 05', '...",http://sandoval.com,http://placeimg.com/640/480/people
1,2,Josefina,Rodrigues,leandro.soares@gmail.com,+9459032337662,1977-03-01,F,"{'id': 0, 'street': 'R. Franco, 3076. Anexo', ...",http://deoliveira.com.br,http://placeimg.com/640/480/people
2,3,Hernani,Delgado,duarte.suzana@serrano.com,+9613915961678,2007-05-07,M,"{'id': 0, 'street': 'Travessa Quintana, 4. Bc....",http://cordeiro.net,http://placeimg.com/640/480/people
3,4,Jerônimo,Queirós,valencia.helena@corona.org,+3410833259943,1981-11-09,M,"{'id': 0, 'street': 'Av. Agostinho Valência, 7...",http://duarte.com,http://placeimg.com/640/480/people
4,5,Dante,Solano,batista.emiliano@terra.com.br,+5790855606432,1987-11-25,M,"{'id': 0, 'street': 'Avenida Jimenes, 168. Fun...",http://valencia.com.br,http://placeimg.com/640/480/people

In [153]:
url1 = f'https://fakerapi.it/api/v1/addresses?_quantity=300'
result = requests.get(url1, verify=True).json()

In [154]:
dados = result['data']

In [155]:
df_enderecos = pd.DataFrame(dados)

In [156]:
df_enderecos

,id,street,streetName,buildingNumber,city,zipcode,country,county_code,latitude,longitude
0,1,21091 Edd Path Apt. 468,Kuhic Passage,85771,West Rosieberg,57763-4868,Czech Republic,JP,-70.652452,-42.779911
1,2,64259 Zemlak Key,Connelly Stravenue,5867,New Elva,01639-5083,Botswana,KW,15.440469,167.069449
2,3,41309 Langworth Point,Dalton Lock,873,Bahringerburgh,13242,Czech Republic,PL,44.915258,38.867422
3,4,816 Joan Corner Suite 726,Virgie Junction,33690,Yeseniaside,87185-3373,Qatar,EG,15.521673,-66.486796
4,5,3297 Hill Rue Suite 023,Shields Ridge,7840,North Larissa,06479,United States Virgin Islands,AT,79.301111,137.467241
...,...,...,...,...,...,...,...,...,...,...
295,296,355 Litzy Ports,Letitia Forks,6913,Doylehaven,07600,American Samoa,GH,2.959750,-77.901472
296,297,9510 Jermain Mill Apt. 099,Gusikowski Loop,852,Finnbury,52995-5382,Vanuatu,SH,-77.328162,43.273249
297,298,772 Emmy Loop,Chasity Loop,8700,North Rachelville,68935-8628,Antigua and Barbuda,AE,28.554025,-134.897169
298,299,3764 Sarai Plain Suite 991,Feil Port,2249,Kieranhaven,14412-8527,Czech Republic,BT,-57.063209,121.012593
299,300,4791 Zulauf Grove,Tina Walks,3971,Mrazburgh,36866,Brazil,JO,-24.599712,110.246927